@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  font-family: 'Chivo Mono', monospace;
}

:root {
  --primaryColor: #36454F;
  --padding: 1.4em 5em;
  --textColor: #fff;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav, footer {
  background-color: var(--primaryColor);
  padding: var(--padding);
  position: fixed;
  width: 100vw;
  display: flex;
  color: var(--textColor);
  align-items: center;
  left: 0;
}

nav {
  top: 0;
  justify-content: space-between;

}

footer {
  bottom: 0;
  text-align: center;
  justify-content: center;
}

nav #navLink a {
  margin-left: 3em;
  color: var(--textColor);
  text-decoration: none;
}

nav #navLink a:hover {
  color: red;
}

nav i {
  margin-right: 5px;
}

main {
  width: 90vw;
  height: 70vh;
  display: flex; 
  justify-content: space-between;
}

aside {
  flex-basis: 46%;
  border: 1px solid var(--primaryColor);
  border-radius: 10px;
}

#asideHead {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--primaryColor);
  padding: 1em;
  align-items: center;
}

#asideHead i {
  cursor: pointer;
}

textarea {
  padding: 1em;
  width: 98%;
  height: 55vh;
  overflow: auto;
}